<div class="wrapper">
  <header class="header">
    <div class="head-bg" style="background-image: url('assets/img/computer.jpg')"></div>
    <div class="head-bar">
    </div>
  </header><!-- .header -->

  <div class="content">
    <div class="container">
      <!-- START: PAGE CONTENT -->
      <div class="page-404">
        <h2>4<span>0</span>4</h2>
        <p>Ooops! This page doesn't even exist</p>
        <a class="btn btn-lg btn-border" href="index.php">Go To The Homepage ?</a>
      </div>
    </div>
    <!-- .container -->
  </div><!-- .content -->
</div>
