<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{languages.tag['meta_description']}}
  <meta name="robots" content="all"/>
  <meta name="author" content="Valentin Maupin"/>
  <link rel="alternate" hreflang="en" href="index.php"/>
  <title>{{languages.title}}</title>

  <!-- 	balises Open Graph pour les réseaux sociaux -->
  <meta property="fb:admins" content="10205598796318863"/>
  <{{languages.tag['og_title']}}
  <meta property="og:site_name" content="CV Valentin Maupin"/>
  <{{languages.tag['og_lang']}}
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="www.valentin.maupin.eu"/>
  <meta property="og:image" content="www.valentin.maupin.eu/img/valentinmaupin.jpg"/>
  <{{languages.tag['og_description']}}


</head>
