<footer class="footer">
  <div class="footer-social">
    <ul class="social">
      <!-- 					<li><a class="ripple-centered" href="https://www.facebook.com/MaupinValentin/" target="_blank"><i class="rsicon rsicon-facebook"></i></a></li> -->
      <!--<li><a class="ripple-centered" href="https://twitter.com/Valentin_Maupin" target="_blank"><i class="rsicon rsicon-twitter"></i></a></li>-->
      <li><a class="ripple-centered" href="https://www.linkedin.com/in/valentinmaupin" target="_blank"><i
        class="rsicon rsicon-linkedin"></i></a></li>
      <!--<li><a class="ripple-centered" href="https://plus.google.com/u/0/+ValentinMaupin" target="_blank"><i class="rsicon rsicon-google-plus"></i></a></li>-->
      <!-- 					<li><a class="ripple-centered" href="https://dribbble.com" target="_blank"><i class="rsicon rsicon-dribble"></i></a></li> -->
      <!--<li><a class="ripple-centered" href="https://www.instagram.com/valentin_maupin/" target="_blank"><i class="rsicon rsicon-instagram"></i></a></li>-->
    </ul>
    <div class="clients-carousel">
      <p class="textecenter">
        <small>{{languages.menu['name']}} | {{languages.getContact['copy']}} | <a
          href="{{languages.getContact['mentionsLink']}}">{{languages.getContact['mentions']}}</a>
        </small>
      </p>
    </div>

  </div>
</footer>
