#---------------Options apache -------------
######################## Index ########################
DirectoryIndex index.php 404.php

######################## Activation liens symboliques ########################
Options +FollowSymLinks

######################## Forcer le choix du fuseau horaire ########################
SetEnv TZ Europe/Paris

######################## Forcer l'UTF8 ########################
AddDefaultCharset UTF-8

######################## Bloquer accès à .htaccess ########################
<Files .htaccess>
order allow,deny
deny from all
</Files>

#---------------Documents erreur -------------
ErrorDocument 403 403.php
ErrorDocument 404 404.php
ErrorDocument 500 500.php

######################## Empêcher naviguation répertoires ########################
Options All -Indexes

######################## Masquer les informations du serveur ########################
ServerSignature Off

#---------------réécriture des URL -------------

#---------------réécriture URL langue -------------
RewriteRule ^en$ index.php?lang=en [NC]
RewriteRule ^fr$ index.php [NC]
RewriteRule ^contact$ index.php#contact [NC]

#---------------réécriture URL : masquage extension -------------
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

#---------------réécriture URL : convergence vers une seule URL : valentin.maupin.eu -------------
#tous les maupin.eu vers valentin.maupin.eu
RewriteCond %{HTTP_HOST} ^www.maupin.eu$
RewriteRule ^(.*) http://valentin.maupin.eu/$1 [QSA,L,R=301]

RewriteCond %{HTTP_HOST} ^maupin.eu$
RewriteRule ^(.*) http://valentin.maupin.eu/$1 [QSA,L,R=301]
