#---------------Options apache -------------
######################## Index ########################
DirectoryIndex index.php 404.php

######################## Masquer l'extension .php ########################
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

######################## Activation liens symboliques ########################
Options +FollowSymLinks

######################## Forcer le choix du fuseau horaire ########################
SetEnv TZ Europe/Paris

######################## Forcer l'UTF8 ########################
AddDefaultCharset UTF-8

######################## Bloquer accès à .htaccess ########################
<Files .htaccess>
order allow,deny
deny from all
</Files>

#---------------Documents erreur -------------
ErrorDocument 403 403.php
ErrorDocument 404 404.php
ErrorDocument 500 500.php

######################## Empêcher naviguation répertoires ########################
Options All -Indexes

######################## Masquer les informations du serveur ########################
ServerSignature Off

#---------------réécriture URL propres -------------
RewriteRule ^en$ index.php?lang=en [NC]
RewriteRule ^fr$ index.php [NC]
RewriteRule ^contact$ index.php#contact [NC]


#---------------réécriture vers une seule URL : valentin.maupin.eu-------------

#tous les maupin.eu vers valentin.maupin.eu
RewriteCond %{HTTP_HOST} ^www.maupin.eu$
RewriteRule ^(.*) http://valentin.maupin.eu/$1 [QSA,L,R=301]

RewriteCond %{HTTP_HOST} ^maupin.eu$
RewriteRule ^(.*) http://valentin.maupin.eu/$1 [QSA,L,R=301]


#tous les valentinmaupin.com vers valentin.maupin.eu
RewriteCond %{HTTP_HOST} ^www.valentinmaupin.com$
RewriteRule ^(.*) http://valentin.maupin.eu/$1 [QSA,L,R=301]

RewriteCond %{HTTP_HOST} ^www.valentinmaupin.com$
RewriteRule ^(.*) http://valentin.maupin.eu/$1 [QSA,L,R=301]


#tous les maupin.xyz vers valentin.maupin.eu
RewriteCond %{HTTP_HOST} ^www.maupin.xyz$
RewriteRule ^(.*) http://valentin.maupin.eu/$1 [QSA,L,R=301]

RewriteCond %{HTTP_HOST} ^maupin.xyz$
RewriteRule ^(.*) http://valentin.maupin.eu/$1 [QSA,L,R=301]

RewriteCond %{HTTP_HOST} ^valentin.maupin.xyz$
RewriteRule ^(.*) http://valentin.maupin.eu/$1 [QSA,L,R=301]

RewriteCond %{HTTP_HOST} ^www.valentin.maupin.xyz$
RewriteRule ^(.*) http://valentin.maupin.eu/$1 [QSA,L,R=301]

#---------------Gestion du cache-------------

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType text/css "access plus 14 days"
ExpiresByType application/javascript "access plus 1 year"
</IfModule>

#---------------restreindre la provenance des contenus d'une page pour éviter les injections XSS---------------
#<IfModule mod_headers.c>
#Header set Content-Security-Policy "script-src 'self' https://www.google.com"
#</IfModule>

#---------------restreindre es balises iframe et le clickjacking---------------
<IfModule mod_headers.c>
Header always set X-FRAME-OPTIONS "SAMEORIGIN"
</IfModule>

#---------------active la protection contre les attaques X-XSS---------------
<IfModule mod_headers.c>
Header always set X-XSS-Protection "1; mode=block"
</IfModule>

#---------------active la protection contre les attaques MIME Sniffing---------------
<IfModule mod_headers.c>
Header always set X-Content-Type-Options "nosniff"
</IfModule>

#---------------active la compression gzip---------------
<ifmodule mod_deflate.c=>
AddOutputFilterByType DEFLATE text/text
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
</ifmodule>