<section id="qualities" class="section section-skills">
  <div class="animate-up">
    <h2 class="section-title">{{languages.menu['qualities']}}</h2>
    <div class="section-box" *ngIf="languages.qualities.length > 0">
      <div class="row" *ngFor="let i of utils.range(0, languages.qualities.length, 4);">
        <div class="col-sm-6">
          <ul class="listetexteg">
            <li *ngIf="languages.qualities[i]">{{languages.qualities[i]}}</li>
            <li *ngIf="languages.qualities[i+1]">{{languages.qualities[i+1]}}</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="listetexteg">
            <li *ngIf="languages.qualities[i+2]">{{languages.qualities[i+2]}}</li>
            <li *ngIf="languages.qualities[i+3]">{{languages.qualities[i+3]}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
