<section id="qualities" class="section section-skills">
  <div class="animate-up">
    <h2 class="section-title">{{languages.menu['qualities']}}</h2>
    <div class="section-box">
      <div class="row">
        <div class="col-sm-6">
          <ul class="listetexteg">
            <li>{{languages.qualities['adaptability']}}</li>
            <li>{{languages.qualities['rigor']}}</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="listetexteg">
            <li>{{languages.qualities['openminded']}}</li>
            <li>{{languages.qualities['autonomous']}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
