<section id="interests" class="section section-interests">
  <div class="animate-up">
    <h2 class="section-title" id="hobbies">{{languages.interests['title']}}</h2>
    <div class="section-box">
      <div class="row">
        <div class="col-sm-6">
          <!--                {{languages.interests['IT']}}-->
          <p><b>Informatique-Technologies-Multimédia :</b></p>
          <ul class="listetexteg">
            <li>Lecture journalière des actualités</li>
            <li>Apprentissage autonome de technologies, logiciels, langages de développement, ...
              Grâce à des tutoriaux sur internet (Openclassrooms.com)
            </li>
          </ul>
        </div>
        <div class="col-sm-6">
          <!--                {{languages.interests['health']}}-->
          <p><b>Sport-Nutrition-Santé : </b></p>
          <ul class="listetexteg">
            <li>Pratique de la musculation et autres activités d'endurance</li>
            <li>Lecture régulière d'articles et de revues sur la nutrition</li>
            <li>Surveillant d'une salle de sport étudiante durant de 2015 à 2017</li>
            <li>Diplômé secouriste (PSC1)</li>
          </ul>
        </div>
      </div>
      <br>
      <ul class="interests-list">
        <li>
          <i class="map-icon map-icon-gym"></i>
          <span>{{languages.interests['sport']}}</span>
        </li>
        <li>
          <i class="map-icon map-icon-university"></i>
          <span>{{languages.interests['learning']}}</span>
        </li>
        <li>
          <i class="map-icon map-icon-electronics-store"></i>
          <span>{{languages.interests['technologies']}}</span>
        </li>
      </ul>
    </div>
  </div>
</section>
