<section id="experience" class="section section-experience">
    <div class="animate-up">
        <h2 class="section-title animate">{{languages.menu['profexp']}}</h2>

        <div class="timeline">
            <div class="timeline-bar"></div>
            <div class="timeline-inner clearfix">
                <div *ngFor="let exp of languages.experiences; let i = index">
                    <div class="timeline-box" [ngClass]="{
                'timeline-box-left': i%2==0,
                'timeline-box-right': i%2==1}">
                        <span class="dot"></span>
                        <div class="timeline-box-inner" [ngClass]="{
                'animate-right': i%2==0,
                'animate-left': i%2==1}">
                            <span class="arrow"></span>
                            <div class="date"><span [innerHTML]="exp.startDate +' – ' + exp.endDate"></span></div>
                            <h3 [innerHTML]="exp.title"></h3>
                            <h4 [innerHTML]="exp.companyDesc"></h4>
                            <p [innerHTML]="exp.context">
                            <p *ngIf="exp.client && exp.teamSize" [innerHTML]="exp.client + ' ' + exp.projectName +
                            ' – ' + exp.teamSize + ' collaborateurs' + ' – ' + exp.method">
                            <p *ngIf="exp.prevBulletPoints" [innerHTML]="exp.prevBulletPoints">
                            <ul *ngIf="exp.bulletPoints.length > 0">
                                <li *ngFor="let bp of exp.bulletPoints" [innerHTML]="bp"></li>
                            </ul>
                            <p *ngIf="exp.technicalEnv" [innerHTML]="'Environnement technique :'">
                            <ul *ngIf="exp.technicalEnv">
                                <li *ngFor="let tec of exp.technicalEnv" [innerHTML]="tec"></li>
                            </ul>
                            <p [innerHTML]="exp.conclusion"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- #experience -->
