<section id="education" class="section section-education">
  <div class="animate-up">
    <h2 class="section-title animate">{{languages.menu['education']}}</h2>
    <div class="timeline">
      <div class="timeline-bar"></div>
      <div class="timeline-inner clearfix">
        <div *ngFor="let ed of languages.education; let i = index">
          <div class="timeline-box timeline-box-compact" [ngClass]="{
                'timeline-box-left': i%2==0,
                'timeline-box-right': i%2==1}">
            <span class="dot"></span>
            <div class="timeline-box-inner" [ngClass]="{
                'animate-right': i%2==0,
                'animate-left': i%2==1}">
              <span class="arrow"></span>
              <div class="date"><span [innerHTML]="ed.dates"></span></div>
              <h3 [innerHTML]="ed.title"></h3>
              <h4 [innerHTML]="ed.school"></h4>
              <p [innerHTML]="ed.intro">
              <ul *ngIf="ed.bulletPoints.length > 0">
                <li *ngFor="let bp of ed.bulletPoints" [innerHTML]="bp"></li>
              </ul>
              <p [innerHTML]="ed.conclusion"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- #education -->
