<section id="clients" class="section section-clients">
    <!-- start : clients | entreprises citées | company quotes -->
    <div class="animate-up">
        <h2 class="section-title">Entreprises citées</h2>

        <div class="clients-carousel">

            <div class="client-logo" *ngFor="let company of languages.company; let i = index">
                <a href="{{company.url}}" target="_blank"><img
                        src="{{company.logoUrl}}" title="{{company.name}}"
                        alt="{{company.name}}"/></a>
            </div>
        </div>
    </div>
</section><!-- #clients -->
