<section id="clients" class="section section-clients">
  <!-- start : clients | entreprises citées | company quotes -->
  <div class="animate-up">
    <h2 class="section-title">{{languages.company['title']}}</h2>

    <div class="clients-carousel">

      <div class="client-logo">
        <a href="http://capgemini.com" target="_blank"><img
          src="../../../assets/img/logos/capgemini.png" title="{{languages.company['capgemini']}}"
          alt="Capgemini"/></a>
      </div>
      <div class="client-logo">
        <a href="http://partenairepologne.com" target="_blank"><img
          src="../../../assets/img/logos/partenairepologne.png" title="{{languages.company['partpol']}}"
          alt="Partenaire Pologne"/></a>
      </div>

      <div class="client-logo">
        <a href="http://ereputationdefender.com" target="_blank"><img
          src="../../../assets/img/logos/ereputationdefender.png" title="{{languages.company['erd']}}"
          alt="EReputationDefender"/></a>
      </div>

      <div class="client-logo">
        <a href="http://manorga.com" target="_blank"><img src="../../../assets/img/logos/manorga.jpg"
                                                          title="{{languages.company['manorga']}}"
                                                          alt="Manorga"/></a>
      </div>

      <div class="client-logo">
        <a href="http://decathlon.com" target="_blank"><img src="../../../assets/img/logos/decathlon.png"
                                                            title="{{languages.company['decathlon']}}"
                                                            alt="Décathlon"/></a>
      </div>

      <div class="client-logo">
        <a href="http://www.flintgrp.com/" target="_blank"><img src="../../../assets/img/logos/flintgroup.png"
                                                                title="{{languages.company['flint']}}"
                                                                alt="Flint Group"/></a>
      </div>
    </div>
  </div>
</section><!-- #clients -->
